# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database files
*.db

# Environment files
*.env

# IDE/editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
